LICENSE
.gitignore

#Custom commands
commands.yaml

# Log files
backuplog.txt
backuplog*
log/

# Device list files
list.txt
list_copy.txt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/
.env

# History
.lh/
.history/